/*HEADER SETTINGS
 _HEADER.SCSS*/
@import "projMixins";
@import 'colors';
@import 'fonts';

header {
  box-sizing: border-box;
  @include box-shadow(0 6px 10px rgba(0, 0, 0, .26));
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  margin-bottom: 10px;
}

.header-spacer {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrapper {
  left: 72px;
  right: 72px;
  top: 0;
  z-index: 2;
  @include transition(padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1));

}

.wsieee-navbar {
  position: fixed;
  z-index: 200;
  height: 100px;
  @include transition(top 0.25s ease-in-out);
}

.wsieee-navbar-nav {
  & > li {
    padding: 0 25px 0 25px;
    display: inline-block;
    > a {
      color: $white;
      text-decoration: none;
      letter-spacing: .115em;
      text-transform: uppercase;
      font-size: 17px;
      position: relative;

    }
  }
}

.wsieee-navbar-nav > li > a::after {

  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50%);
  @include transform(translateX(-50%) scaleX(0));
  width: calc(100%);
  height: 10px;
  border-bottom: 2px solid $white;
  @include transition(all 0.2s ease-in-out);
}

.wsieee-navbar-nav > li > a:hover:after,
.wsieee-navbar-nav > li > a.onstate:after {
  @include transform(translateX(-50%) scaleX(1));
}

.navbar-brand {
  color: $white;
  padding-top: 0.125rem;
  font-size: 1.45rem;
}

.nav-link {
  color: $white;
  font-weight: 500;
  :hover {
    color: $white;
  }
}
