/*HEADER SETTINGS
 _HEADER.SCSS*/
@import "projMixins";
@import 'colors';
@import 'fonts';

$breakpoint-width: 992px;
$header_height: 75px;

header {
  box-sizing: border-box;
  @include box-shadow(0 6px 10px rgba(0, 0, 0, .26));
  z-index: 1;
  width: 100%;
  top: 0;
  position: fixed;
  margin-bottom: 10px;
}

.header-spacer {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrapper {
  z-index: 2;
  @include transition(padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1));
}

.wsieee-navbar {
  position: fixed;
  z-index: 200;
  height: $header_height;
  @include transition(top 0.25s ease-in-out);
  @media screen and (max-width: $breakpoint-width) {
    height: $header_height * 2;
  }
}

.wsieee-navbar-nav {
  display: inline;
  @media screen and (max-width: $breakpoint-width) {
    font-size: 14px;
    line-height: 1.15;
  }

  & > li {
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    @include breakpoint(laptop) {
      padding: 0;
    }
    > a {
      color: $white;
      text-decoration: none;
      letter-spacing: .115em;
      text-transform: uppercase;
      position: relative;
      padding-top: 9px;

    }
  }
}

.wsieee-navbar-nav > li > a::after {

  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50%);
  @include transform(translateX(-50%) scaleX(0));
  width: calc(75%);
  height: 10px;
  border-bottom: 2px solid $white;
  @include transition(all 0.2s ease-in-out);
}

.wsieee-navbar-nav > li > a:hover:after,
.wsieee-navbar-nav > li > a.onstate:after {
  @include transform(translateX(-50%) scaleX(1));
}

.navbar-brand {
  color: $white;
  padding-top: 25px;
  font-size: 1.25rem;
  &:hover{
    color: $white;
  }
  @media screen and (max-width: $breakpoint-width){
    padding-left: 35%;
    padding-top: 0;
  }
}


.nav-link {
  color: $white;
  font-weight: 500;
  &:hover {
    color: $white;
  }

}

.main-nav {
  padding-top: 1.3%;
  @media screen and (max-width: $breakpoint-width) {
    padding-top: 0;
}
}