// GLOBAL SCSS FILE
@import 'reset';
@import 'header';
body{
  padding-top: $header_height;
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}
@import 'mainSettings';
@import 'buttons';
@import 'sidebar';
@import 'calendar';
@import 'main_content';
@import 'footer';
